<h1> The gossip !</h1>

  <p><strong><%= @gossip.anonymous_author %></strong> a posté :</p>

  <p><strong><%= @gossip.content %></strong></p>
  <p><%=  link_to 'Retour à la liste', welcome_path %></p>
